/* Main Contacto */
.main__contacto{
    min-height: 100vh;
    background: url('../attaches/images/FondoReserva/FondoContacto.jpg') no-repeat center center fixed;
    background-size: cover;
}
.main__contacto--titulo{
    text-align: center;
}
.main__contacto--titulo h1{
    font-size: 30px;
    font-weight: normal;
}
.main__contacto--formularioAcomodo input{
    margin-top: 10px;
}
.main__contacto--formularioAcomodo{
    margin-top: 15px;
}
.main__contacto--formulario input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
}
.main__contacto--formularioAcomodo input:focus, textarea:focus{
    border: solid 4px rgb(0, 0, 0);
}
.main__contacto--formularioAcomodo textarea{
    resize: vertical;
    max-height: 250px;
    min-height: 100px;
    margin-top: 10px;
}
.main__contacto--formularioAcomodo--Botones input{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.main__contacto--formularioAcomodo--Botones input:hover{
    background-color: aqua;
    cursor: pointer;
}
/*--------------------------------------- */
/*MEDIA QUERIES*/
@media screen and (max-width: 625px){
    /* main Contacto */
    .main__contacto--titulo{
    font-size: 13px;
    }
    /* -------------- */
}
@media screen and (max-width: 480px){
    .main__contacto--formulario{
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 2px;
        width: 55vw;
        padding: 20px;
        font-weight: bolder;
    }

}

@media screen and (max-width: 390px){
    /* main Contacto */
    .main__contacto--titulo{
        font-size: 10px;
    }
    .main__contacto--formulario{
        font-size: 15px;
    }
    
    .main__contacto--formulario label{
        font-size: 12px;
    }
    /* -------------- */
}