//Global
$color-fondo-body:rgb(255, 255, 255);
//Header
$color-fondo-header: white;
$color-borde-header: rgb(136, 136, 136);
$color-hover: rgb(206, 197, 197);
//Mixin
@mixin tamañoGenerales($width,$height,$marginTop){
    width: $width;
    height: $height;
    margin-top: $marginTop;
}
.tamañoImagenes{
    width: 200px;
    height: 300px;
    margin-top: 15px;
}

$colorFondoEquipoCocina:(
    titulo:wheat,
    imagenes:wheat
);
@each $parte, $color in $colorFondoEquipoCocina{
    .main__equipoCocina--#{$parte}{
        background-color: $color;
    }
}
