

/* Pagina Equipo de Cocina */
.main__eqiopoCocina--Fondo{
    min-height: 100vh;
    background: url('../attaches/images/FondoReserva/FondoChefs.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main__equipoCocina{
    display: grid;
    grid-template-rows: max-content 1fr;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
}

.main__equipoCocina--titulo{
    text-align: center;
    margin-top: 10px;
    width: 40%;
    color: rgb(0, 0, 0);
    // background-color: rgb(255, 166, 0);
}
.main__equipoCocina--titulo h1{
    font-size: 30px;
    font-weight: normal;
}
.main__equipoCocina--conjuntoimagenes{
    margin-top: 30px;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__equipoCocina--imagenes{
    color: rgb(0, 0, 0);
    border: solid 2px;
    @include tamañoGenerales(280px,625px,15px);
    margin-bottom: 10px;
    text-align: center;
    // background-color: wheat;
}
.main__equipoCocina--imagenes img{
    @include tamañoGenerales(230px,350px,15px);
    margin-top: 20px;
    border: solid gray;
}
/* ------------------ */

/*MEDIA QUERIES*/

@media screen and (max-width: 1200px){
    /* main Chefs */
    .main__equipoCocina--titulo{
        text-align: center;
        border: solid 2px black;
        margin-top: 10px;
        width: 50%;
        color: rgb(0, 0, 0);
    }
    /* ------------- */
}

@media screen and (max-width: 900px){
    /* main Chefs */
    .main__equipoCocina--titulo{
        width: 60%;
        font-size: 13px;
    }
    /* ------------- */
}

@media screen and (max-width: 625px){
    /* main Chefs */
    .main__equipoCocina--titulo{
        width: 70%;
        font-size: 10px;
    }
    /* ------------- */
}
