/* Pagina Reserva */
.main__reserva{
    min-height: 100vh;
    background: url('../attaches/images/FondoReserva/pexels-photo-941861.jpeg') no-repeat center center fixed;
    background-size: cover;
}
.main__reserva--titulo{
    text-align: center;
}
.main__reserva--titulo h1{
    font-size: 30px;
    font-weight: normal;
    color: white;
}
.main__reserva--formularioAcomodo{
    margin-top: 15px;

}
.main__reserva--formularioAcomodo p, label{
    color: white;
}
.main__reserva--formularioAcomodo .btn{
    background-color: white;
    margin-bottom: 20px;
}
/* --------------------------------------------- */

/*MEDIA QUERIES*/
@media screen and (max-width: 390px){
    /* Main Reserva */
    .main__reserva--titulo{
        font-size: 13px;
    }
    .main__reserva--formulario{
        grid-column: 4/10;
        grid-row: 2/2;
        border: solid;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 70vw;
        margin-left: 6%;
        font-size: small;
    }
    .main__reserva--formularioAcomodo--displayFlex5 label{
        font-size: small;
    }
    .main__reserva--formularioAcomodo--displayFlex5 input{
        font-size: smaller;
    }
    .main__reserva--formularioAcomodo--displayFlex6 label{
        font-size: small;
    }
    .main__reserva--formularioAcomodo--displayFlex6 input{
        font-size: smaller;
    }
    .main__reserva--formularioAcomodo--displayFlex7{
        height: 7.8vh;
    } 
    .main__reserva--formularioAcomodo--displayFlex7 input{
        height: 5vh;
    }
    /* ------------ */
}